In [16]:
import pandas as pd
from qvd import qvd_reader

# Replace 'your_file.qvd' with the path to your QVD file
qvd_file_path = 'C:/Users/bmala/Downloads/202405 Padron de empleados Mayo ordenado 2024.qvd'

# Read the QVD file
qvd = qvd_reader.read(qvd_file_path)

# Convert to pandas DataFrame
df = pd.DataFrame(qvd)

Collecting qvd
  Downloading qvd-0.0.15-cp311-none-win_amd64.whl.metadata (2.9 kB)
Downloading qvd-0.0.15-cp311-none-win_amd64.whl (513 kB)
   ---------------------------------------- 0.0/513.3 kB ? eta -:--:--
    --------------------------------------- 10.2/513.3 kB ? eta -:--:--
   ----- --------------------------------- 71.7/513.3 kB 975.2 kB/s eta 0:00:01
   --------------------------- ------------ 358.4/513.3 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 513.3/513.3 kB 3.6 MB/s eta 0:00:00
Installing collected packages: qvd
Successfully installed qvd-0.0.15

In [18]:
df.head()

,Periodo,ID HR,ROL,Nombre Puesto,Horas Semanales,ID situacion de revista,Situacion de revista,ID JCatego,JCatego,Nombre y Apellido,...,Inicio Eximicion Firma,Fin Eximicion Firma,AV,AW,AX,AY,AZ,BA,BB,BC
0,1,104553,1,PROFESOR HORA-CATEDRA,3,1,Activo,None,None,"CHUMBA, JUAN CARLOS",...,None,None,74,Cese,EXP/1558707/MGEYA/2012,None,None,None,None,408869
1,1,105531,1,PERSONAL DE GABINETE,35,1,Activo,None,None,"OTA?O, TOMAS JULIO",...,None,None,51,Renuncia,RES/313/MMGC/2013,None,None,None,None,933019
2,1,108192,1,PROFESOR HORA-CATEDRA,4,1,Activo,None,None,"QUINTANA, ENRIQUE JOS",...,None,None,74,Cese,EXP/1695499/MGEYA/2011,None,None,None,None,399284
3,1,109542,1,MAESTRO DE GRADO JORNADA COMPLETA,35,1,Activo,None,None,"SOLBES, RICARDO ALBERTO",...,None,None,55,Jubilación Ordinaria,NOT/5826317/DGPDYND/2017,None,None,SE REINTEGRA DE LA LIC. 70 H.,None,594322
4,1,110065,1,AYUDANTE DE TRABAJOS PRACTICOS,18,1,Activo,None,None,"MORTEO, FRANCISCO",...,None,None,74,Cese,EE/20599417/ESC200424/2017,None,None,"se modifica codigo de cargo,por error venia co...",None,395417

In [17]:

# Display the DataFrame
df.shape

(1300247, 55)

In [20]:
df.columns

Index(['Periodo', 'ID HR', 'ROL', 'Nombre Puesto', 'Horas Semanales',
       'ID situacion de revista', 'Situacion de revista', 'ID JCatego',
       'JCatego', 'Nombre y Apellido', 'Ficha', 'ID C?digo de Registro',
       'C?digo de Registro', 'Codigo de estructura escalafonaria',
       'ID Codigo de Situacion', 'Codigo de Situacion',
       'Fecha de fin en Unidad Organizativa', 'CUIL', 'Fecha de Nacimiento',
       'Fecha de inicio en Unidad Organizativa', 'ID Unidad Organizativa',
       'Nombre Unidad Organizativa', 'Fecha de inicio del Rol',
       'Fecha de fin del Rol', 'ID Puesto',
       'Documentacion respaldatoria de Alta', 'SCO_DT_PAY',
       'CAR_ID_COD_REGISTR', 'Recha fin C?digo de registro',
       'Fecha inicio C?digo de registro', 'Codigo de Licencia',
       'CAR_ASIG_CARGO', 'SAR_U_CONC_FIJOS_R', 'Nivel y grado', 'CAR_ID_NIVEL',
       'Motivo cambio', 'Correo', 'Nro de Documento', 'Tipo de Documento',
       'Sexo', 'Antiguedad Gral', 'Total Desc', 'Total Asig', 'Total Liqu',
       'Tipo de Horas', 'Inicio Eximicion Firma', 'Fin Eximicion Firma', 'AV',
       'AW', 'AX', 'AY', 'AZ', 'BA', 'BB', 'BC'],
      dtype='object')

In [31]:
df = df.dropna(subset = ['Total Asig'])
df.shape

(286098, 55)

In [34]:
df.to_csv('C:/Users/bmala/downloads/tinchin.csv', index=False)